/* reusable CSS variables */
:root {
    --light-gray: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Elms Sans', sans-serif;
}

footer {
    width: 100%;
    background: var(--light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 0;
}

footer img {
    width: 8rem;
}

footer span {
    font-size: .85rem;
}

main {
    flex: 1;
}

nav {
    background: var(--light-gray);
}

/*----- Homepage----- */


.home-page {
    width: 80%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 40px;
}

.home-page h1 {
    color: green;
    margin-bottom: 20px;
}

.home-page h2 {
    color: darkgreen;
    margin-top: 30px;
    margin-bottom: 15px;
}

.home-page hr {
    margin: 35px 0;
}

.home-page p {
    font-size: 20px;
    line-height: 1.5;
}

.home-page ul {
    display: inline-block;
    text-align: left;
    line-height: 1.8;
    margin: 20px auto;
    padding-left: 25px;
}

.home-page li {
    margin-bottom: 10px;
}

.home-buttons {
    margin-top: 30px;
}

.home-buttons {
    margin-top: 30px;
}

.home-button-link {
    display: inline-block;
    padding: 12px 22px;
    margin: 10px;
    font-size: 18px;
    color: black;
    background-color: #eeeeee;
    border: 2px solid black;
    text-decoration: none;
}

.home-button-link:hover {
    background-color: #d9d9d9;
}

/*----- Nav -----*/

nav {
    margin-bottom: 20px;
}